USE [master]
GO
/****** Object:  Database [ManageStudent]    Script Date: 6/21/2024 8:51:14 PM ******/
CREATE DATABASE [ManageStudent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManageStudent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ManageStudent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ManageStudent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ManageStudent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManageStudent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManageStudent]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/21/2024 8:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 6/21/2024 8:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[SubjectID] [int] NULL,
	[SemesterID] [int] NULL,
	[Grade] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturers]    Script Date: 6/21/2024 8:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturers](
	[LecturerID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[FullName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Department] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LecturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LecturerSchedule]    Script Date: 6/21/2024 8:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LecturerSchedule](
	[LecturerScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[LecturerID] [int] NULL,
	[ScheduleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LecturerScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 6/21/2024 8:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NULL,
	[SemesterID] [int] NULL,
	[DayOfWeek] [varchar](50) NOT NULL,
	[Slot] [int] NOT NULL,
	[Room] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 6/21/2024 8:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[SemesterID] [int] IDENTITY(1,1) NOT NULL,
	[SemesterName] [varchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SemesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 6/21/2024 8:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[FullName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[DateOfBirth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSchedule]    Script Date: 6/21/2024 8:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSchedule](
	[StudentScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ScheduleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectLecturer]    Script Date: 6/21/2024 8:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectLecturer](
	[SubjectLecturerID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NULL,
	[LecturerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectLecturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 6/21/2024 8:51:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [varchar](100) NOT NULL,
	[Credits] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [Username], [Password], [Role]) VALUES (1, N'student1', N'password1', N'Student')
INSERT [dbo].[Account] ([AccountID], [Username], [Password], [Role]) VALUES (2, N'student2', N'password2', N'Student')
INSERT [dbo].[Account] ([AccountID], [Username], [Password], [Role]) VALUES (3, N'lecturer1', N'password1', N'Lecturer')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([GradeID], [StudentID], [SubjectID], [SemesterID], [Grade]) VALUES (1, 1, 1, 1, CAST(8.50 AS Decimal(3, 2)))
INSERT [dbo].[Grades] ([GradeID], [StudentID], [SubjectID], [SemesterID], [Grade]) VALUES (2, 1, 2, 1, CAST(9.00 AS Decimal(3, 2)))
INSERT [dbo].[Grades] ([GradeID], [StudentID], [SubjectID], [SemesterID], [Grade]) VALUES (3, 2, 3, 2, CAST(7.00 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[Grades] OFF
GO
SET IDENTITY_INSERT [dbo].[Lecturers] ON 

INSERT [dbo].[Lecturers] ([LecturerID], [AccountID], [FullName], [Email], [PhoneNumber], [Department]) VALUES (1, 3, N'Dr. Smith', N'smith@example.com', N'111111111', N'Computer Science')
INSERT [dbo].[Lecturers] ([LecturerID], [AccountID], [FullName], [Email], [PhoneNumber], [Department]) VALUES (2, 4, N'Prof. Johnson', N'johnson@example.com', N'222222222', N'Mathematics')
SET IDENTITY_INSERT [dbo].[Lecturers] OFF
GO
SET IDENTITY_INSERT [dbo].[LecturerSchedule] ON 

INSERT [dbo].[LecturerSchedule] ([LecturerScheduleID], [LecturerID], [ScheduleID]) VALUES (1, 1, 1)
INSERT [dbo].[LecturerSchedule] ([LecturerScheduleID], [LecturerID], [ScheduleID]) VALUES (2, 2, 2)
INSERT [dbo].[LecturerSchedule] ([LecturerScheduleID], [LecturerID], [ScheduleID]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[LecturerSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([ScheduleID], [SubjectID], [SemesterID], [DayOfWeek], [Slot], [Room]) VALUES (1, 1, 1, N'Monday', 1, N'Room A')
INSERT [dbo].[Schedule] ([ScheduleID], [SubjectID], [SemesterID], [DayOfWeek], [Slot], [Room]) VALUES (2, 2, 1, N'Tuesday', 2, N'Room B')
INSERT [dbo].[Schedule] ([ScheduleID], [SubjectID], [SemesterID], [DayOfWeek], [Slot], [Room]) VALUES (3, 3, 2, N'Wednesday', 3, N'Room C')
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Semesters] ON 

INSERT [dbo].[Semesters] ([SemesterID], [SemesterName], [StartDate], [EndDate]) VALUES (1, N'Spring 2024', CAST(N'2024-01-01' AS Date), CAST(N'2024-05-31' AS Date))
INSERT [dbo].[Semesters] ([SemesterID], [SemesterName], [StartDate], [EndDate]) VALUES (2, N'Fall 2024', CAST(N'2024-09-01' AS Date), CAST(N'2024-12-31' AS Date))
SET IDENTITY_INSERT [dbo].[Semesters] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [AccountID], [FullName], [Email], [PhoneNumber], [DateOfBirth]) VALUES (1, 1, N'John Doe', N'john@example.com', N'123456789', CAST(N'2000-01-01' AS Date))
INSERT [dbo].[Student] ([StudentID], [AccountID], [FullName], [Email], [PhoneNumber], [DateOfBirth]) VALUES (2, 2, N'Jane Smith', N'jane@example.com', N'987654321', CAST(N'2000-02-02' AS Date))
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentSchedule] ON 

INSERT [dbo].[StudentSchedule] ([StudentScheduleID], [StudentID], [ScheduleID]) VALUES (1, 1, 1)
INSERT [dbo].[StudentSchedule] ([StudentScheduleID], [StudentID], [ScheduleID]) VALUES (2, 1, 2)
INSERT [dbo].[StudentSchedule] ([StudentScheduleID], [StudentID], [ScheduleID]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[StudentSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[SubjectLecturer] ON 

INSERT [dbo].[SubjectLecturer] ([SubjectLecturerID], [SubjectID], [LecturerID]) VALUES (1, 1, 1)
INSERT [dbo].[SubjectLecturer] ([SubjectLecturerID], [SubjectID], [LecturerID]) VALUES (2, 2, 2)
INSERT [dbo].[SubjectLecturer] ([SubjectLecturerID], [SubjectID], [LecturerID]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[SubjectLecturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectID], [SubjectName], [Credits]) VALUES (1, N'Database Management', 3)
INSERT [dbo].[Subjects] ([SubjectID], [SubjectName], [Credits]) VALUES (2, N'Calculus', 4)
INSERT [dbo].[Subjects] ([SubjectID], [SubjectName], [Credits]) VALUES (3, N'Computer Networks', 3)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__536C85E4515F7EA0]    Script Date: 6/21/2024 8:51:14 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Lecturer__A9D10534DD38A7F2]    Script Date: 6/21/2024 8:51:14 PM ******/
ALTER TABLE [dbo].[Lecturers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__A9D10534A358BE3A]    Script Date: 6/21/2024 8:51:14 PM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([SemesterID])
REFERENCES [dbo].[Semesters] ([SemesterID])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Lecturers]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[LecturerSchedule]  WITH CHECK ADD FOREIGN KEY([LecturerID])
REFERENCES [dbo].[Lecturers] ([LecturerID])
GO
ALTER TABLE [dbo].[LecturerSchedule]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([SemesterID])
REFERENCES [dbo].[Semesters] ([SemesterID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[StudentSchedule]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[StudentSchedule]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[SubjectLecturer]  WITH CHECK ADD FOREIGN KEY([LecturerID])
REFERENCES [dbo].[Lecturers] ([LecturerID])
GO
ALTER TABLE [dbo].[SubjectLecturer]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([Role]='Admin' OR [Role]='Lecturer' OR [Role]='Student'))
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD CHECK  (([Grade]>=(0.00) AND [Grade]<=(10.00)))
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD CHECK  (([DayOfWeek]='Sunday' OR [DayOfWeek]='Saturday' OR [DayOfWeek]='Friday' OR [DayOfWeek]='Thursday' OR [DayOfWeek]='Wednesday' OR [DayOfWeek]='Tuesday' OR [DayOfWeek]='Monday'))
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD CHECK  (([Slot]=(4) OR [Slot]=(3) OR [Slot]=(2) OR [Slot]=(1)))
GO
USE [master]
GO
